<% if flash[:error] != nil %>
    <div class="container-c alert alert-danger" role="alert">
      <%= flash[:error] %>
    </div>
<% end %>
<h1 class="page-header text-white"><%= @artist.name %></h1>

<div class="row">
  <% @artist.albums(country: 'US').each do |album| %>
    <div class="col-sm-4">
      <h3 class="text-black"><%= album.name %></h3>
      <img src="<%= image_path(album.images.first['url']) %>" height="300">
      <br><br>
      <% if current_user %>
        <%= form_tag({controller: "playlists", action: "create", method: "post"}) do %>
        <%= hidden_field_tag "album_id", album.id %>
        <%= submit_tag("Add To Collection", id: "button", class: "btn-lg", name: "Submit") %>
      <% end %>
    <% end %>
    <br>
    <ul class="list-group list-group-flush">
      <% album.tracks.each do |track| %>
        <li class="list-group-item"><%= track.name %>
        </li>
      <% end %>
    </ul>
  </div>
  <!-- end col-sm-4 -->
<% end %>
</div>
<!--end row-->
