<div class="row">
  <div class="col-md-6">
    <h2>
      Create a Collection</h2>
    <h2>
      Sign in to get started  or you can freely search for your favorite artistbelow.
    </h2>
    <p>
      <a class="btn btn-secondary" href="<%= top_100_tracks_path %>" role="button">See Top 100 Songs! &raquo;</a>
      <a class="btn btn-secondary" href="/search" role="button">Search Database &raquo;</a>
    </p>
  </div>
    </p>
  </div>

<% @albums.each do |album| %>
  <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="card-img-top" src="<%= album.images %>" alt="Album Cover">
        <div class="card-body">
          <p class="card-text"><strong><%= album.name %> - <%= album.artist%></strong></p>
          <p class="card-text">
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <%= link_to "Go to album", album_path(album), class: "btn btn-sm btn-outline-secondary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
