<h1 style="text-align: center;"><%= @album.artist.name %></h1>
<img src="<%= @album.images %>" height=500 style="padding-left: 36%;">
<h2 style="text-align: center;"><%= @album.name %></h2>
<h4 style="text-align: center;"><%= @album.copyrights %></h4>
<ul class="list-group list-group-flush">
    <% @album.tracks.each do |track| %>
        <li style="text-align: center;" class="list-group-item"><%= track.name %> </li>
    <% end %>
</ul>
