<h1><%= @album.artist.name %></h1>
<img src="<%= @album.images %>" height=500>
<h2><%= @album.name %></h2>
<h4><%= release_date @album %></h3>
<h4><%= @album.label %></h4>
<h4><%= @album.copyrights %></h4>
